# Core Django
Django==4.2.8
djangorestframework==3.14.0

# Essenciais
python-dotenv==1.0.0
psycopg2-binary==2.9.9
celery==5.3.4
redis==5.0.1

# AI
langchain==0.0.350
ollama==0.1.0

# Utils
cryptography==41.0.7
